@import url('https://fonts.googleapis.com/css2?family=DM+Sans');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Belgrano');
@import url('https://fonts.googleapis.com/css2?family=Poppins');    
#option{
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    justify-content: space-between;
    background: #21272C;
    width: auto;
    border-radius: 8px;
    padding: 2%;
}
#savings{
    color: #465D68;
    font-family: Belgrano;
    font-style: normal;
    font-weight: normal;
    line-height: 193.7%;
}
#save{
    margin-top: 10px;
}
#percentage_saved{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 136.2%;
    color: #24DB6D;
}
#best_results{
    margin-left: 10px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 136.2%;
    color: #DB9D24;
}
#offer-price{
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 223.7%;
}
#actual-price{
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 223.7%;
    text-decoration-line: line-through;
    color: #4C6070;
}
#popular{
    background: #067BD8;
    border-radius: 8px;
    width: max-content;
    display: flex;
    align-items: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 223.7%;
    color: #FFFFFF;
}
#star{
    font-size: 10px;
    margin: 5px;
}

@media only screen and (max-width: 600px) {
    #savings{
        font-size: 12px;
    }
    #save{
        font-size: 12px;
    }
    h2{
        font-size: 16px;
    }
    #offer-price{
        font-size: 19px;
    }
    #actual-price{
        font-size: 19px;
    }
}