@import url('https://fonts.googleapis.com/css2?family=DM+Sans');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Belgrano');
body{
    color: white;
}
#product{
    margin-top: 20px;
    display: flex;
}
#image{
    flex: 0.5;
}
img{
    width: 80%;
    height: auto;
}
#details{
    flex: 0.5;
    width: auto;
}
#heading{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    line-height: 136.2%;
}
#para{
    font-family: Belgrano;
    font-style: normal;
    font-weight: normal;
}
#review{
    display: flex;
    margin-top: 20px;
}
#value{
    font-family: Montserrat;
    margin: 5px;
    margin-left: 15px;
}
#review_link{
    font-family: DM Sans;
    margin: 5px;
    margin-left: 15px;    
    color: #424648;
}
#rating{
    color: white;
    background: #079741;
    border-radius: 10px;
    padding: 3px;
}
#price{
    display: flex;
    margin-top: 32px;
    width: auto;
}
#offer_price{
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
}
#actual_price{
    margin-left: 30px;
    width: 94px;
    height: 39px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-decoration-line: line-through;
    color: #3C464F; 
}

#button-container{
    font-family: Montserrat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #13324A;
    width: auto;
    height: 47px;
    box-shadow: 0px 1px 15px 0px #0202020A;
    box-shadow: 0px 0px 15px 0px #5858584D inset;
    margin-top: 20px;
}
button{
    font-family: Montserrat;
    color: white;
    background: none;
    border: none;
}

@media only screen and (max-width: 600px) {
    /* body {
      background-color: lightblue;
      display: grid;
      align-items: center;
      justify-content: center;
    } */
    body{
        margin-left: 30px;
        width: 85%;
    }
    #product{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }
    img{
        width: 311px;
        height: 407px;
    }
    #value{
        font-size: 13px;
    }
    #review_link{
        font-size: 12px;
    }
    p{
        font-size: 12px;
    }
    #heading{
        font-size: 32px;    
    }
    button{
        font-size: 13px;
        line-height: 16px;
    }
}